name: Generate 3D Contribution Graph

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Generate 3D contribution graph
        uses: yoshi389111/github-profile-3d-contrib@0.7.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          USERNAME: ashiqur0

      - name: Commit & Push
        run: |
          git config --global user.name "ashiqur0"
          git config --global user.email "ashiqur0@users.noreply.github.com"
          git add -A
          git commit -m "generated 3D contribution graph" || echo "No changes to commit"
          git push
